body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(white,rgb(194, 200, 206));
    margin: 0;
    padding: 20px;
}

.scholarship-form {
    max-width: 400px;
    margin: auto;
    background:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scholarship-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background:linear-gradient(to right,#0193b4,#00d050);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #0c347c, #068b23);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #333;
}
a {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    color: darkred;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}

/* for sliding */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%); /* Adjust the distance you want */
    }
}

/* Apply animation to the link */
#termsLink {
    display: inline-block;
    animation: slide 5s linear infinite; /* Adjust the timing (5s) as needed */
}